@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* MENU */
.navbar-brand {
    padding: 0 0 0 15px;
}
/* CONTENT */
#campos_login {
    background-color: #fff;
    width: 80%;
    display: block;
    margin: 50px auto 0;
    padding: 50px 0;
    border: 1px solid #4d4b4c;
    border-radius: 15px;
}

#campos_login input {
    width: 332px;
    margin: 25px auto;
    background-color: #3d3d3f;
    color: #e8e8ea;
}

.red-submit {
    background-color: #d40000 !important;
    display: block;
    color: #fff !important;
}
.form-error {
    color: #d40000;
    width: 332px;
    display: block;
    margin: 0 auto;

}

.form-control {
    margin-bottom: 20px;
}

.jumbotron {
    background-color: inherit;
}

#page-wrapper {
    background-color: #3b3b3d;
    color: #e4e4e6;
}

.page-header {
    background-color: #d81b22;
    padding-left: 15px;
}

.table-striped a i.fa-pencil-square-o, .table-striped a i.fa-times {
    color: #fff;
}
.login-window {
    background-color: #3d3d3f;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

/* MISC */
body {
    background-color: #fff;
    font-family: "Open Sans";
    font-size: 14px;
}

table {
    width: 100%;
    overflow: scroll !important;
    background-color: #363638;
    color: #e7e7e7;
    font-size: 10px;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #d81b22;
}

.margin-bottom {
    margin-bottom: 30px;
}
/* MEDIA QUERY */
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    #campos_login input, .form-error {
        width: 80%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #campos_login {
        width: 50%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #campos_login {
        width: 50%;
    }
}